.theForm {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 4.5rem;
}
 
.columnLeftH1{
    color: #ffffff;
    font-size: 40px;
    max-width: 100%;
}
@media screen and (min-width: 275px) and (max-width: 480px) {
    .rowWrapper {
        padding-left: 1rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
        display: block !important;
    }
    .theForm {
        padding-bottom: 2rem !important;
    }
}
 
@media screen and (min-width: 965px) and (max-width: 1151px) {
    .columnLeft {
        padding-left: 2.8rem !important;
 
    }
 
}
 
@media screen and (min-width: 481px) and (max-width: 1151px) {
    .rowWrapper {    
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        display: block !important;
 
    }
    .theForm {
        padding-bottom: 2rem !important;
    }
}
.rowWrapper {
    display: grid;
    grid-template-columns: minmax(150px, 100%) 1fr;
    place-items: center;
    overflow: hidden;
    -webkit-perspective: 1px;
    perspective: 1px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 2rem;

}
 
.titleWrap {
    text-align: center;
}
 
.titleWrapSpan {
    font-size: 26px;
    display: inline-block;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 5px;
    color: #ffffff;
}
 
.columnLeft {
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
    padding-left: 5rem;
    padding-top: 6rem;
    padding-right: 2rem;
    height: 100%;
    width: 100%;
    vertical-align: top;
    border-radius: 10px;

 
    /* background-image: linear-gradient(130deg, #56c1b8, #3fb5a9, #2a9991, #187d7a, #076160, #00534c, #003e3a, #002928, #001714, #000000); */
 
    /* background-image: linear-gradient(130deg, #75b5ff, #3c91ff, #2d7ce6, #0066cc, #0059b3, #004080, #002b59, #001933, #000d0d, #001a00); */
    background-image: linear-gradient(120deg, #3786e1, #0059b3, #000d0d);
    /* background-image: linear-gradient(140deg, #75b5ff, #004080, #000d0d); */
}
 
.columnRight{
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}
 
.formWrapper{
    max-width: 550px;
    margin-top: 25px;
    margin-bottom: 150px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 30px 30px;
}
 
.mktForm{ 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: rgb(51, 51, 51);
    margin-top: 10px;
    width: 100% !important;
    text-align: left;
 
}
 
.mktFormRow{ 
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    clear: both;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
 
@media screen and (max-width: 680px) {
    .mktFormRow { 
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    }
    .mktFormCol{
    padding-bottom: 10px;
    }
}
 
.mktFormCol{
    margin-left: 0 !important;
    width: 95% ;
    margin: 0 10px !important;
    float: left;
    position: relative;
    min-height: 2em;
}
 
.mktFieldWrap{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
}
 
.mktInputText{
    border: 1px solid #ebebeb !important;
    padding: 3px 30px 3px 20px;
    max-width: 100%;
    width: 100% !important;
    font-family: 'Tenon', arial;
    box-shadow: 0 0 0 50px transparent inset;
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    color: #888888;
    border: 1px solid transparent;
    background-color: #ffffff;
    height: 41px;
    font-size: 16px;
    margin: 0;
    outline: none;
    width: 100%;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 50px;
    color: #888888;
    position: relative;
    z-index: 1;
}
 
.mktInputTextArea {
    border: 1px solid #ebebeb !important;
    padding: 3px 30px 3px 20px;
    max-width: 100%;
    width: 100% !important;
    font-family: 'Tenon', arial;
    box-shadow: 0 0 0 50px transparent inset;
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    color: #888888;
    border: 1px solid transparent;
    background-color: #ffffff;
    font-size: 16px;
    margin: 0;
    outline: none;
    width: 100%;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
    color: #888888;
    position: relative;
    z-index: 1;
    height: 100px;
}
 
.mktFormRowSingle{ 
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    clear: both;
    box-sizing: border-box;
}
 
.mktButtonRow {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
}
 
.mktButtonSpan{
    margin-left: 0 !important;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
}
 
.mktButton {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 2px solid;
    border-radius: 100vmax;
    text-decoration: none;
    cursor: pointer;
    background-image: none;
    overflow: hidden;
    line-height: 1.62;
    padding: 0.4rem 1.7rem 0.3rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    white-space: nowrap;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: center;
    color: #0059b3;
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: none;
    width: auto;
    font-family: 'Tenon', Arial;
    box-shadow: none;
    -webkit-box-shadow: none;
}
 
.mktButton:hover {
    color: #ffffff;
    background-color: #1964ee;
    border-color: #1964ee;
    text-decoration: none;
}
 
.imgWrapper { 
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInRight;
    height: 100%;
    width: 100%;
}
 
.mktImg { 
    width: 100%;
    height: 100%;
    max-height: 1000px;
    position: relative;
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
    font-family: "object-fit:cover;object-position:center";
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    max-width: 100%;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    overflow-clip-margin: content-box;
    overflow: clip;
    aspect-ratio: auto 645 / 976;
 
}
 
.mktP {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: normal;
    margin-bottom: 16px;
    font-weight: normal;
    color: #ffffff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 2rem;
}