.form_login{
    width: 50%;
    height: 50%;
    padding-top: 2rem;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    .form_field {
        margin-top: 20px;
    }
}