@import "~bootstrap/dist/css/bootstrap.min.css";
@import "css-aspect-ratio/css-aspect-ratio";
@tailwind base;
@tailwind components;
@tailwind utilities;
footer {
  padding-top: 4rem;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Tenon", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

hr {
  opacity: 1 !important;
  padding-bottom: 4rem;
  margin-top: 3rem;
}

ul {
  padding-left: 0;
  margin-right: 1rem;
}

li {
  text-align: left;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #151515;
  line-height: 1.6;
  font-size: 18px;
}

@media (min-width: 1700px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1640px;
  }
}

.form-check {
  text-align: left;
  font-size: 20px;
  @media (max-width: 1080px) {
    font-size: 22px;
  }
}

.form-check-label {
  margin-left: 20px;
  font-weight: 500;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  border: solid black 1.8px;
}

.form-select {
  /* font-size: 1.8rem; */
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  /* background-size: 35px 56px; */
  border: 1px solid #2c2929db !important;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}

.form-select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #a8a6a65d; /* Custom border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(66, 135, 245, 0.616); /* Custom box-shadow on focus (blue tone) */
}

.form-control {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 35px 56px;
  border: 1px solid rgba(44, 41, 41, 0.8588235294) !important;
  border-radius: 8px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}

.price-label {
  /* text-align: left !important;
 padding-top: 1rem;
 font-size: 22px;
 display: flex;
 align-items: center;
 max-width: 380px; */
  > * {
    // margin-right: 10px;
    margin-left: 5px;
  }
  .form-label {
    font-size: 20px;
    font-weight: 500;
  }
  .form-control {
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    border: 1px solid rgba(44, 41, 41, 0.8588235294) !important;
    border-radius: 8px;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    appearance: none;
    box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
  }
}

.input-form-wrapper {
  position: absolute;
  top: 330px;
  // right: 20px;
  z-index: 100; /* Adjust the value to ensure the element is above other content */
  background-color: white;
  padding: 5px 0 10px;

  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    background-color: white;
    padding: 10px;
    margin-top: 25px;
  }
}

.page-link {
  color: black !important;
  @media (max-width: 480px) {
    font-size: 13px;
  }
}

.active > .page-link,
.page-link.active {
  background-color: black !important;
  color: #fff !important;
  border-color: #000 !important;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1480 px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px !important;
  }
}

.homeCarousel {
  touch-action: none;
  user-select: none;
}
.homeCarousel > .carousel-indicators {
  margin-bottom: -1.5rem;
}

.homeCarousel > .carousel-indicators > button {
  background-color: black !important;
}

.homeCarousel > .carousel-control-prev {
  left: -50px;
  width: 0%;
}

.homeCarousel > .carousel-control-next {
  right: -50px;
  width: 0%;
}
@media (max-width: 767px) {
  .homeCarousel {
    touch-action: none !important;
    user-select: none !important;
  }
}

@media (max-width: 1700px) {
  .homeCarousel > .carousel-control-prev {
    display: none !important;
  }

  .homeCarousel > .carousel-control-next {
    display: none !important;
  }
}

.popup-overlay {
  background: #00000047;
}
.popup-content {
  span {
    color: white;
    font-weight: bolder;
    font-size: 48px;
    margin-left: 100%;

    @media (max-width: 480px) {
      margin-left: 20px;
    }
  }
}
@layer base {
  body {
    @apply dark:bg-[#333333] 
        bg-[#ffffff];
    @apply dark:text-white
        text-black;
  }
}

.navbar {
  .container {
    @media (max-width: 480px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 12px;
    }
  }
}

.navbar-expand-md {
  min-height: 7vh !important;
}
.navbar-collapse {
  @media (max-width: 480px) {
    padding-bottom: 1rem;
  }
}

//option 1
// table .cell-green {
//   position: relative;
//   padding: 10px;
//   background-color: #e8f5e9; /* Light green background */
//   border: 2px solid #66bb6a; /* Green border */
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

// table .cell-green::before {
//   content: "New";
//   position: absolute;
//   top: 10px;
//   right: -10px;
//   background-color: #66bb6a;
//   color: white;
//   padding: 5px 10px;
//   transform: rotate(45deg);
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }
table .cell-green {
  position: relative;
  padding: 15px;
  background-color: #e8f5e9; /* Light green background */
  border: 2px solid #66bb6a; /* Green border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

table .cell-green::before {
  content: "New";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #66bb6a;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basic-multi-select {
  z-index: 99 !important;
}

.select__control {
  border-color: #000 !important;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2) !important;
  border-radius: 7px !important;
  color: #484747 !important;
}

.css-1xc3v61-indicatorContainer {
  color: #000 !important;
}
.css-1u9des2-indicatorSeparator {
  background-color: #000 !important;
}

.css-1jqq78o-placeholder {
  grid-area: 1 / 1 / 2 / 3 !important;
  color: #000 !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  box-sizing: border-box !important;
}
