.row-wrapper {
    padding-top: 1rem;
    text-align: left;
  }
  
  .title-wrapper {
    margin: 0 auto;
    max-width: 1545px;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      padding-bottom: 4rem;
      font-size: 50px;
      font-weight: bold;
      line-height: 1.08;
      color: #000000;
    }
  }
  