.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
 
  /* Add some margin to separate the filter wrappers when stacked */
  margin-bottom: 20px;
  gap: 5px;
  max-width: 250px;
 
  @media (max-width: 768px) {
    /* Reset the margin on mobile screens */
    margin-bottom: 4rem;
  }
}
.type-icon {
  height: 50px;
  width: auto;
}
 
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
 
.label_filters {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 22px;
  @media (max-width: 1068px) {
    font-size: 20px;
  }
}
 
.property-type-form {
  position: absolute;
  top: 305px; /* Adjust the value to position vertically */
  // right: 20px; /* Adjust the value to position horizontally */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
  padding: 10px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding: 10px;
  }
}
 
.propType_filter {
  padding: 0.5rem;
}
.property-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4.5rem;
  padding-bottom: 20rem;
  max-width: 1400px;
  margin: 0 auto;
  gap: 1rem;
  @media (max-width: 1100px) {
    /* Change the flex direction to column on screens smaller than 768px */
    flex-direction: column;
    align-items: center;
    padding-bottom: 0rem;
  }
}
 
.location-icon {
  height: 50px;
  width: auto;
}
 
.price-icon {
  height: 50px;
  width: auto;
}
 
.subtype-icon {
  height: 50px;
  width: auto;
}
 
.property-subtype-form {
  position: absolute;
  top: 305px; /* Adjust the value to position vertically */
  // right: 20px; /* Adjust the value to position horizontally */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
 
  padding: 10px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding: 10px;
  }
}
 
.label_filters {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 22px;
  @media (max-width: 1068px) {
    font-size: 20px;
  }
}
.price-input-wrapper {
  position: absolute;
  top: 300px; /* Adjust the value to position vertically */
  // right: 20px; /* Adjust the value to position horizontally */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
 
  padding: 10px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding: 10px;
  }
}
 
.range-slider-price {
  padding-top: 2rem;
  max-width: 240px;
  margin: 0 auto;
}
 
#Location .form-control {
  position: absolute;
  top: 333px; /* Adjust the value to position vertically */
  // right: 20px; /* Adjust the value to position horizontally */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
  padding: 10px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding: 10px;
  }
}
 
.bed-baths-icon-wrapper {
  display: flex;
  .beds-icon {
    height: 50px;
    width: auto;
    margin-right: 15px;
  }
  .baths-icon {
    height: 65px;
    width: auto;
  }
}
 
.beds-label {
  text-align: left;
}
 
.baths-label {
  padding-top: 1.39rem;
  text-align: left;
}
 
.price-label {
  text-align: left;
}
.sort-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
 
  position: relative;
  margin-left: 20px;
  // padding: 10px; /* Adjust padding as needed */
  // display: flex;
  z-index: 1;
  @media (max-width: 480px) {
    left: 0px;
  }
}
 
.sort-select {
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border: 0.5px solid rgba(44, 41, 41, 0.8588235294) !important;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}
 
.order-select {
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border: 0.3px solid rgba(44, 41, 41, 0.8588235294) !important;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}
 
.span-price {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 2rem;
}
 
.form-label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
 
.city_label {
  padding-top: 2rem !important;
  margin-left: 1.76rem;
  .form-label {
    font-size: 18px;
    font-weight: 500;
  }
}
 
.form-price {
  padding-top: 1rem;
  // padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.form-check {
  text-align: left;
  font-size: 50px;
  @media (max-width: 1080px) {
    font-size: 22px;
  }
}
 
.form-check-label {
  margin-left: 20px;
  font-weight: 500;
}
 
// .form-select {
//   background-color: #f8f9fa; /* Change background color */
//   background-repeat: no-repeat;
//   background-position: right 0.75rem center;
//   // background-size: 20px 33px;
//   border: 1px solid #2c2929db !important; /* Adjust border width and color */
//   border-radius: 8px; /* Adjust border radius */
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   appearance: none;
//   box-shadow: 0 0 4px rgba(53, 50, 50, 0.2); /* Add box-shadow */
// }
 
// .form-select:focus {
//   outline: none; /* Remove default focus outline */
//   border-color: #a8a6a65d !important; /* Custom border color on focus */
//   box-shadow: 0 0 0 0.2rem rgba(66, 135, 245, 0.616) !important; /* Custom box-shadow on focus (blue tone) */
// }
 
.city_label {
  padding-top: 2rem;
  text-align: left;
  max-width: 275px;
 
  // .form-control {
  //   background-color: #f8f9fa;
  //   background-repeat: no-repeat;
  //   background-position: right 0.75rem center;
  //   background-size: 35px 56px;
  //   border: 1px solid rgba(44, 41, 41, 0.8588235294) !important;
  //   border-radius: 8px;
  //   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  //   appearance: none;
  //   box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
  // }
}
 
.label_filters {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 22px;
  @media (max-width: 1068px) {
    font-size: 20px;
  }
}
 
.input-form-wrapper {
  position: absolute;
  top: 333px; /* Adjust the value to position vertically */
  // right: 20px; /* Adjust the value to position horizontally */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
  padding: 5px 0 10px;
  max-width: 275px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding-top: 35px;
  }
}
 
.mktFormColBuy {
  display: flex;
  align-items: center; /* Vertically center elements */
  margin-left: 0 !important;
  width: 100%;
  margin: 0;
  float: left;
  position: relative;
  min-height: 2em;
 
  .mktoFormCheckBox {
    padding-top: 5px;
  }
 
  .mktFieldWrap {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-right: 2px;
  }
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    width: 20px;
    height: 20px;
  }
 
  input[type="checkbox"]::before {
    font-weight: bolder;
  }
  .inputText {
    padding: 5px 5px 5px 8px;
    max-width: 100%;
    width: 100% !important;
    // font-family: "Tenon", arial;
    box-shadow: 0 0 0 50px transparent inset;
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    border: 1px solid black;
    height: 40px;
    font-size: 16px;
    margin: 0;
    outline: none;
    width: 100%;
    cursor: text;
    -webkit-box-shadow: none;
    box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
    border-radius: 7px;
    color: #484747;
    position: relative;
    z-index: 1;
    font-weight: 600;
    // padding-left: 10px;
    z-index: 1;
    margin-bottom: 1rem;
  }
 
  .disabled {
    padding: 5px 5px 5px 8px;
    max-width: 100%;
    width: 100% !important;
    // font-family: "Tenon", arial;
    box-shadow: 0 0 0 50px transparent inset;
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    border: 1px solid black;
    height: 40px;
    font-size: 16px;
    margin: 0;
    outline: none;
    width: 100%;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
    border-radius: 7px;
    color: #484747;
    position: relative;
    z-index: 1;
    font-weight: 600;
    // padding-left: 10px;
    z-index: 1;
    margin-bottom: 1rem;
  }
 
  .icon-mag-buy {
    position: absolute;
    max-width: 30px;
    top: 37%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
}
 
@media screen and (max-width: 680px) {
  .mktFormRow {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }
  .mktFormCol {
    padding-bottom: 10px;
  }
}
 
.mktForm {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  // color: rgb(51, 51, 51);
  margin-top: 10px;
  width: 100% !important;
  text-align: left;
}
 
.mktFormRow {
  width: 100%;
  // padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  clear: both;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
 
@media screen and (max-width: 680px) {
  .mktFormRow {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }
  .mktFormCol {
    padding-bottom: 10px;
  }
}
 
.input-form {
  left: 10px;
}
 
.beds-baths-form {
  position: absolute;
  top: 300px; /* Adjust the value to position vertically */
  z-index: 100; /* Adjust the value to ensure the element is above other content */
  width: 200px;
  padding: 10px;
  @media (max-width: 1200px) {
    position: static;
    z-index: 100;
    padding: 10px;
  }
}
 
.min-wrapper {
  padding-bottom: 1.49rem;
}
 
.btn-wrapper-search {
  display: flex;
  height: 30px;
  .btn-search-banner {
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px 35px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    white-space: nowrap;
    // background-color: #0364aa;
    background-color: #0364aa;
    color: #fff;
    border-color: #0364aa;
    margin-right: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    cursor: pointer;
    font-family: tenon, sans-serif;
 
    span {
      font-size: 16px;
      font-weight: 600;
    }
 
    &.active {
      background-color: #fff;
      border-color: #fff;
      color: #444444;
    }
 
    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: #444444;
    }
  }
}
 
.autocomplete-suggestions {
  position: absolute;
  // background-color: white;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
 
  z-index: 1000; /* Ensures the overlay is above other content */
}
 
.autocomplete-suggestions p {
  background-color: #fff;
  color: #6b6b6b;
 
  margin: 0px 0;
  border: 2px solid #fff !important;
  font-weight: 500;
  cursor: pointer;
  padding-left: 0.3rem;
  padding: 0.1rem;
  font-size: 15px;
  &:hover {
    background-color: #f1f1f1;
  }
}
 
.grid-prop-map {
  height: 1275px;
  max-height: 1400px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 5rem;
  border-radius: 10px;
  padding-top: 4.6rem;
}
 
.btn-map-wrapper {
  position: absolute; /* Fixed position */
  right: 50px; /* Adjust right distance as needed */
  z-index: 999;
 
  .btn-map {
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    padding: 7px 13px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    white-space: nowrap;
    background-color: transparent;
    border-color: #000;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
    cursor: pointer;
    font-family: tenon, sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: -3rem;
 
    cursor: pointer;
 
    @media (max-width: 768px) {
      margin-top: 3.5rem;
      display: grid;
    }
 
    span {
      font-size: 14px;
      font-weight: 600;
    }
 
    &:hover {
      background-color: #000;
      color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
  .btn-map-dark {
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    padding: 7px 13px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    white-space: nowrap;
    background-color: transparent;
    border-color: white;
    color: white;
    margin-right: 18px;
    overflow: hidden;
    cursor: pointer;
    font-family: tenon, sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: -3rem;
 
    cursor: pointer;
 
    span {
      font-size: 14px;
      font-weight: 600;
    }
 
    &:hover {
      background-color: white;
      color: black;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
  .btn-filters-vis {
    //hiden for now
    visibility: hidden;
    position: fixed;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    padding: 7px 13px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    white-space: nowrap;
    background-color: transparent;
    border-color: #000;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
    cursor: pointer;
    font-family: tenon, sans-serif;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
 
    cursor: pointer;
 
    span {
      font-size: 14px;
      font-weight: 600;
    }
 
    &:hover {
      background-color: #000;
      color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
  }
}
 
.search-container {
  display: grid;
 
  // grid-gap: 20px;
  @media (min-width: 1299px) {
    grid-template-columns: 1fr 2fr; /* Two columns for larger screens */
  }
 
  .properties-grid-filter {
    flex: 1;
    width: 1125px;
    max-width: 73vw;
 
    .properties_grid_map_view {
      display: grid;
      left: 10%;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1px;
      gap: 10px;
      padding-left: 1rem;
      padding-right: 1rem;
      max-height: 1115px;
      overflow-y: auto;
      scroll-padding-top: 1rem;
    }
 
    @media (min-width: 280px) and (max-width: 1299px) {
      width: 100%; /* Adjust the width for medium-sized screens */
      flex: none;
      max-width: none;
      .properties_grid_map_view {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 1px;
        display: grid;
        gap: 10px;
        padding-bottom: 6rem;
        max-height: none;
        overflow-y: none;
        scroll-padding-top: none;
      }
    }
 
    @media (min-width: 1301px) and (max-width: 1480px) {
      width: 975px; /* Adjust the width for medium-sized screens */
    }
 
    @media (min-width: 1481px) and (max-width: 1980px) {
      width: 1165px; /* Adjust the width for medium-sized screens */
    }
    @media (min-width: 1981px) and (max-width: 2380px) {
      width: 1475px; /* Adjust the width for medium-sized screens */
    }
    @media (min-width: 2381px) and (max-width: 2780px) {
      width: 1475px; /* Adjust the width for medium-sized screens */
    }
    @media (min-width: 2781px) {
      width: 1775px; /* Adjust the width for medium-sized screens */
    }
  }
}
 
.pagination-wrapper {
  display: grid;
  padding-bottom: 2rem;
  padding-top: 2rem;
  place-items: center;
}
 
@media (max-width: 1299px) {
  .map-wrapper {
    width: 100%;
    height: 100%;
    // position: absolute;
    z-index: 100;
  }
  .pagination-wrapper {
    display: none;
  }
 
  .properties_grid_map_view {
    display: none !important;
  }
}
 
.map-wrapper {
  flex: 3;
  width: 100%;
}
 
// .sort-container {
//   display: flex;
//   justify-content: flex-start;
//   margin-top: 6rem;
 
//   position: absolute;
//   left: 20px;
//   // padding: 10px; /* Adjust padding as needed */
//   // display: flex;
//   z-index: 1;
// }
 
.sort-select {
  margin-right: 1rem;
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border: 0.5px solid rgba(44, 41, 41, 0.8588235294) !important;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}
 
.order-select {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border: 0.3px solid rgba(44, 41, 41, 0.8588235294) !important;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  box-shadow: 0 0 4px rgba(53, 50, 50, 0.2);
}
 
.properties_grid {
  // Map view 3 cards on left
  // display: grid;
  // left: 10%;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 1px;
  // gap: 10px;
  // padding-left: 1rem;
  // padding-right: 1rem;
  // max-height: 1115px;
  // overflow-y: auto;
  // scroll-padding-top: 1rem;
 
  //styles for full width of the properties grid
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  grid-gap: 1px;
  display: grid;
  gap: 1px;
  padding-bottom: 6rem;
 
  // Original layout with no map view
  // grid-template-columns: repeat(auto-fill, minmax(425px, 3fr));
  // display: grid;
  // grid-gap: 1px;
  // gap: 1px;
  // padding-bottom: 6rem;
 
  @media (max-width: 380px) {
    display: block;
  }
 
  @media (max-width: 768px) {
    padding-top: 3rem;
  }
}
 