.site-footer {
  max-width: 1700px !important;
  padding-top: 4rem;
}

.left-right {
  font-size: 24px;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-bottom: 4rem;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding: 2rem;
}

@media only screen and (max-width: 580px) {
  .left-right {
    padding-left: 2.4rem;
    padding-right: 1.4rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px) {
  .left-right {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    display: grid;
  }
}

.left {
  font-family: "Tenon", sans-serif;
  letter-spacing: 0.02em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  gap: 80px;
}

@media only screen and (max-width: 480px) {
  .left {
    gap: 0;
  }
}

.menu {
  margin-block-end: 4em;
}

.menu-title {
  font-size: 24px;
  margin-block-end: 1em;
  text-transform: uppercase;
  font-family: "Tenon", sans-serif;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .menu-title {
    font-size: 20px;
  }
}

.menu-title-phone {
  font-size: 24px;
  margin-block-end: 1em;
  text-transform: uppercase;
  font-family: "Questrial", sans-serif;
  text-align: left;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.text-footer-links {
  font-family: "Tenon", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  gap: 4rem;
}

.wp-widget-group__inner-blocks {
  text-align: left;
}
